/**
* 全局样式
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html{
  /*让定位滚动拥有过渡动画（非用户触发的滚动）*/
  scroll-behavior: smooth;
}

.el-notification__content{
  margin-top: 0 !important;
}
/**
* 快捷样式
 */
.ml-auto {
  margin-left: auto;
}
.mr-2 {
  margin-right: 4px;
}
.mr-3 {
  margin-right: 8px;
}

/**
滚动条样式
 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: #F5F5F5;
}

/*改善侧边框menu会多出1px的问题*/
.el-menu-vertical-demo.el-menu {
  border: 0;
}

/*每个页面容器默认的样式*/
.main-container {
  padding: 20px;
}

/*操作栏*/
.operation-container {
  margin-bottom: 10px;
}
/*搜索*/
.operation-search-form {

}
/*新增 删除 编辑*/
.operation-adu-container {
 display: flex;
}

/*dialog标题*/
.dialog-title-container {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 20px;
}
/*分页栏*/
.pagination-container {
    text-align: right;
    margin-top: 10px;
}

/*表单元素标题*/
.info-dialog-form .el-form-item__label {
    font-weight: bold;
}