@font-face {
  font-family: "iconfont"; /* Project id 3511535 */
  src: url('iconfont.woff2?t=1662641976343') format('woff2'),
       url('iconfont.woff?t=1662641976343') format('woff'),
       url('iconfont.ttf?t=1662641976343') format('truetype');
}
/*
  阿里巴巴IconFont

  使用方法 <i class="iconfont 下面的这些类名"></i>
*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: "\e60b";
}

.icon-line-gitpullrequestgitlaquqingqiu:before {
  content: "\e6f2";
}

.icon-caidan:before {
  content: "\e64d";
}

.icon-zhuye:before {
  content: "\e62c";
}

.icon-xiangshang:before {
  content: "\e605";
}

.icon-shezhi1:before {
  content: "\e70f";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-fenlei:before {
  content: "\e602";
}

.icon-lianjie:before {
  content: "\e603";
}

.icon-tuichubianji:before {
  content: "\e604";
}

.icon-xiangce1:before {
  content: "\e60d";
}

.icon-iconfontfanhuidingbu:before {
  content: "\e60e";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-iconfontgerenzhongxin1:before {
  content: "\e615";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-qita:before {
  content: "\e62b";
}

.icon-fenlei1:before {
  content: "\e669";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-rili:before {
  content: "\e63f";
}

.icon-ziyuan:before {
  content: "\e8a4";
}

.icon-pinglunxiao:before {
  content: "\e8b9";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-qunliao:before {
  content: "\e60a";
}

.icon-liulan:before {
  content: "\e634";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-gengxinshijian:before {
  content: "\e705";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-zhiding:before {
  content: "\eb16";
}

.icon-biaoqing_xiao_o:before {
  content: "\eba9";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-denglu:before {
  content: "\e70a";
}

.icon-24gl-tags:before {
  content: "\e87c";
}

.icon-24gl-paperPlane:before {
  content: "\e94b";
}

.icon-tishichenggong:before {
  content: "\e718";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-faxian:before {
  content: "\e8c4";
}

.icon-github:before {
  content: "\e66f";
}

.icon-shuzishuru:before {
  content: "\e6d5";
}

.icon-chat:before {
  content: "\e9b1";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-cuowu:before {
  content: "\e601";
}

